#mainContainer {
    background: teal;
    border: black;
    border-width: thin;
}

#heading {

}
#titleContainer {
    color: white;
    background: orange;
    font-size: 30px;
    padding: 20px;
    float: left;
    width: 100%;
}

#instructions {
    color: teal;
    font-size: 20px;
    background: peachpuff;
    border-color: teal;
    padding: 20px;
    float: left;
    width: 400px;
    float: left;
}

#randomNumberContainer {
    background-color: green;
    font-size: 40px;
    color: black;
    padding: 10px;
    float: left;
}

.winsAndLosses {
    color: black;
    background: lightblue;
    font-size: 25px;
}

.crystals {
    background-color: white;
    height: 10px;
    max-width: 10px;
}

.playerTotal {
    color: white;
    background: green;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
}

#finalTotalNumber {
    color: white;
    background: green;
    padding: 15px;
}



