body {                                                   
    background-image: url("circuit.png");
}

#heading {
    background: orangered;
    font-size: 40px;
    color: white;
    font-weight: bold;
    border: black;
    border-width: thin;
    width: 30px;
    height: 100px;
    padding: 25px;
}

#instructions {
    color: teal;
    background: peachpuff;
    font-size: 20px;
    padding: 20px;
    width: 100%;
    float: left;
}

#targetNumber {
    background-color: yellow;
    font-size: 30px;
    color: black;
    padding: 10px;
    float: left;
}

#winsAndLosses {
    color: black;
    background: lightblue;
    font-size: 25px;
}

/* .crystals {
    background-color: purple;
    height: 10px;
    max-width: 10px;
} */

#playerTotal {
    color: white;
    background: green;
    font-size: 30px;
    padding: 15px 15px 40px 30px;
}

#finalTotalNumber {
    color: white;
    background: green;
    font-size: 30px;
    padding: 15px 15px 40px 30px;
    /* width: 200px;
    height: 200px; */
}

#totalscore {
    width: 30px

} 


